/* index pagina general CSS */

/* background image voor index pagina */
.achtergrondfoto {
    background: url("#{resource['images/background.png']}") !important;
    background-color: grey !important;
}

/* background image voor de jumbotron op de index pagina */
.techfoto {
    background: url("#{resource['images/jumbotron-image.png']}") !important;
    background-color: black !important;
    background-size: 100% 100% !important;
    color: white !important;
}