/* Gebruik dit bestand om alle styleClasses te definiëren, die je wil gebruiken in dit project. */

/* class om titel logo te centreren en kleiner te maken */
.centerLogoImage {
    display: block;
    margin: auto;
    width: 75%;
    height: auto;
}

/* class om images te centreren */
.centerImage {
    display: block;
    margin: auto;
    width: 75%;
    height: auto;
}

/* class om text te centreren in een div */
.centerText {
    text-align: center;
    vertical-align: middle;
}

/* class om een zwarte achtergrond en witte letters te tonen */
.darkBackground {
    background-color: black !important;
    color: white !important;
}

/* class om font aan te passen */
.customFont {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* background image*/
.achtergrondfoto {
    background: url("#{resource['images/background.png']}") !important;
    background-color: grey !important;
}

/* background image voor de jumbotron op de index pagina */
.techfoto {
    background: url("#{resource['images/jumbotron-image.png']}") !important;
    background-color: black !important;
    background-size: 100% 100% !important;
    color: white !important;
}

form{
    background-color: rgba(205,204,238,0.50);
    padding: 10px;
}

.smoke{
    color: whitesmoke;
}
